.about-us-wrapper {
  display: flex;

  .about-us-container {
    .img-logo {
      margin-top: 30px;
      padding: 0 30px;
      padding-bottom: 20px;
      border-bottom: 2px solid#F3D1BF;

      img {
        display: inline-block;
        width: 80px;
        margin-left: 40px;
      }
    }


    .group-picture{
      margin-top: 50px;
      img{
        width: 500px;
        height: 536px;
      }
    }


    .right-col-details {
      margin-top: 80px;

      p {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        text-align: left;
        color: #EF6D58;
      }

      h1 {
        font-family: sans-serif;
        font-size: 54px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: -1px;
        text-align: left;
      }

      h5 {
        color: #391400;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
      }

      span {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
      }

      button {
        font-family: sans-serif;
        font-size: 14px;
        padding: 10px 20px;
        font-weight: 900;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: center;
        display: block;
        background-color: white;
        color: #391400;
        border-radius: 0;
        border: none;
        margin-top: 20px;
      }
    }

    .percentage-experience {
      margin-top: 50px;

      .percentage {
        border: 1px solid #F3D1BF;
        text-align: center;

        h1 {
          font-family: sans-serif;
          font-size: 34px;
          font-weight: 800;
          letter-spacing: 0px;
          text-align: left;
          margin-left: 28px;
          margin-top: 20px;
        }

        p {
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0px;
          text-align: left;
          margin-left: 28px;
          margin-bottom: 20px;
        }
      }
    }

    .feature-section {
      margin-top: 50px;
      margin-bottom: 100px;

      .feature-left {
        margin-top: 40px;
        font-family: sans-serif;

        h5 {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 1px;
          text-align: left;
          color: #EF6D58;
        }

        p {
          font-size: 20px;
          font-weight: 100;
          line-height: 28px;
          text-align: left;
          margin-top: 15px;
          color: #391400;
        }

        a {
          color: #391400;
          text-decoration: none;
          font-size: 14px;
        }

        a:hover {
          text-decoration: revert;
          color: #0d6efd;
        }
      }

      .feature-right {
        .professional {
          background-color: white;
          display: inline-block;
          border: 1px solid #F3D1BF;
          padding: 30px 25px;


          b {
            background: #EF6C57;
            display: inline-block;
            border-radius: 100%;
            padding: 12px;

            svg {
              font-size: 32px;
            }
          }

          h4 {
            margin-top: 40px;
            line-height: 24px;
            font-weight: 700;
            font-family: sans-serif;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            margin-top: 0;
            margin-bottom: 1rem;
            color: #391400A3;
            font-family: sans-serif;
          }
        }

        .accessibility{
          border: 1px solid #F3D1BF;
          display: inline-block;
          padding: 20px;
          margin-top: 76px;
          position: relative;
          right: 24px;
          h4 {
            margin-top: 40px;
            line-height: 24px;
            font-weight: 700;
            font-family: sans-serif;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            margin-top: 0;
            margin-bottom: 1rem;
            color: #391400A3;
            font-family: sans-serif;
          }
        }
      }
    }
  }
}