.navbar-wrapper {
  background-color: #28293E;
  width: 100%;
  color: white;

  .navbar-container {
    display: flex;
    width: 100%;

    button {
      border: 1px solid white;
      text-decoration: none;
      color: white;
      font-size: 14px;
      margin: 0;
      padding: 0px 20px;
      font-weight: 900;
      line-height: 14.35px;
      text-align: center;
      height: 35px;
      margin-top: 8px;
      // margin-right: 40px;
      font-family: 'Epilogue', sans-serif;
      font-style: normal;
    }

    button:hover {
      text-decoration: revert;
      color: darkgoldenrod;
    }

    // .brand-name {
    //   color: white;
    //   font-family: 'Epilogue', sans-serif;
    //   display: block;
    //   font-style: normal;
    // }

    .nav-link {
      width: 100%;
      display: inline-block;
      text-align: center;

      a {
        margin: 0 40px;
        padding-right: 30px;
        font-size: 16px;
        font-family: 'Epilogue', sans-serif;
        font-weight: 400;
        line-height: 32px;
        font-size: 16px;
        line-height: 32px;
        color: white;
        font-style: normal;
        text-decoration: none;
      }

      a:hover {
        text-decoration: revert;
        color: darkgoldenrod;
      }
    }

    @media screen and (max-width: 767px) {
      display: block;

      .brand-name {
        margin-left: 5px;
      }

      .contact-link {
        border: none;
        margin-top: 10px;
        padding: 0;
        margin-left: 5px;

      }

      .nav-link {
        display: flex;
        text-align: left;

        a {
          margin: 0 0 0 5px;
        }

        a:hover {
          margin: 0 0 0 5px;
          background: white;
          color: #28293E;
          font-size: 20px;
        }
      }
    }

    @media screen and (min-width : 768px) and (max-width : 991px) {
      display: flex;

      .navbar-collapse {
        display: flex;

      }

      .brand-name {
        margin-left: 20px;
      }

      .nav-link {
        margin-top: 5px;
        a {
          margin: 0;
        }
      }
    }
  }
}