.top-section-wrapper {
  background: #28293E;
  color: white;
  display: flex;

  .top-section-container {
    margin-top: 20px;
    margin-bottom: 20px;

    .top-left {
      b {
        color: #EF6D58;
        font-size: 16px;
        margin-bottom: 10px;
        font-family: sans-serif;
        letter-spacing: 1px;
      }

      h1 {
        font-family: sans-serif;
        font-size: 48px;
        font-weight: 800;
        line-height: 60px;
        letter-spacing: -1px;
        text-align: left;
        font-style: normal;
        position: relative;

      }

      .star-img {
        height: 150px;
        width: 150px;
        display: inline-block;
        position: absolute;
      }

      p {
        font-style: normal;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.64);
      }

      .button-contact {
        margin-top: 30px;

        button {
          background: #EF6D58;
          border-color: #EF6D58;
          border-radius: 6px;
          font-size: 12px;
          margin-right: 40px;
        }

        a {
          color: white;
          text-decoration: none;
          font-size: 14px;
        }
      }

      .marchant-shoes {
        margin-top: 40px;
        display: flex;

        img {
          width: 43px;
          height: 43px;
          background: #B550F6;
          border-radius: 50%;
          float: left;
          position: initial;
          margin-right: 20px;
        }

        p {
          font-size: 16px;
          line-height: 20px;

          span {
            color: white;
          }
        }

      }
    }

    .top-right {
      margin-top: 20px;
    }

    @media screen and (max-width : 480px) {
      .top-left {
        padding-left: 30px !important;
      }

      .top-right {
        display: flex;
        justify-content: center;

        img {
          width: 300px !important;
          display: block !important;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .top-left {
        padding-left: 30px;
      }

      .top-right {
        display: flex;
        justify-content: center;

        img {
          width: 400px;
          display: block;
        }
      }
    }

    @media screen and (min-width: 768px) and (max-width : 992px) {
      .top-right {
        margin-top: 20px;
      }
    }

  }

}